* {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent; }

*, *::before, *::after {
  box-sizing: border-box; }

li {
  list-style-type: none; }

button {
  text-rendering: auto;
  color: #000;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block; }

[dir="ltr"] button {
  text-align: left; }

[dir="rtl"] button {
  text-align: right; }

button {
  margin: 0em;
  font: 400 13.3333px Arial; }

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  display: flex;
  flex-direction: column; }

body {
  margin: 0 1rem 0 1rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

header {
  transition: box-shadow 0.2s;
  z-index: 100;
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0; }

main {
  flex: 1; }

footer {
  text-align: center;
  font-size: 80%;
  color: #6c757d;
  min-height: 40px;
  margin-top: 2rem; }

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
          text-decoration-skip: objects; }

a:hover {
  color: #0056b3;
  text-decoration: underline; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2.0rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1.0rem; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

b, strong {
  font-weight: bolder; }

code {
  font-size: 1rem; }

.details {
  color: #6c757d; }

a.anchor {
  padding-top: 64px;
  margin-top: -64px;
  display: block;
  position: absolute;
  visibility: hidden; }

@-ms-viewport {
  width: device-width; }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

pre {
  overflow: auto; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center; }

.gear-large-message {
  font-size: 72px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px; }

.gear-404-message {
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 320px; }

.gear-message {
  font-weight: bold;
  color: black;
  margin-bottom: 20px; }

.gear-container {
  position: relative;
  height: 200px;
  width: 320px;
  right: -24%; }

.gear1 {
  position: absolute;
  left: 0px; }

.gear2 {
  position: absolute;
  left: 62px;
  top: 42px; }

.spinner-cw {
  -webkit-animation-name: spin-cw;
          animation-name: spin-cw;
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; }

@-webkit-keyframes spin-cw {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin-cw {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.spinner-ccw {
  -webkit-animation-name: spin-ccw;
          animation-name: spin-ccw;
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; }

@-webkit-keyframes spin-ccw {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@keyframes spin-ccw {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

