* {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent; }

*, *::before, *::after {
  box-sizing: border-box; }

li {
  list-style-type: none; }

button {
  text-rendering: auto;
  color: #000;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block; }

[dir="ltr"] button {
  text-align: left; }

[dir="rtl"] button {
  text-align: right; }

button {
  margin: 0em;
  font: 400 13.3333px Arial; }

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  display: flex;
  flex-direction: column; }

body {
  margin: 0 1rem 0 1rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

header {
  transition: box-shadow 0.2s;
  z-index: 100;
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0; }

main {
  flex: 1; }

footer {
  text-align: center;
  font-size: 80%;
  color: #6c757d;
  min-height: 40px;
  margin-top: 2rem; }

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
          text-decoration-skip: objects; }

a:hover {
  color: #0056b3;
  text-decoration: underline; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2.0rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1.0rem; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

b, strong {
  font-weight: bolder; }

code {
  font-size: 1rem; }

.details {
  color: #6c757d; }

a.anchor {
  padding-top: 64px;
  margin-top: -64px;
  display: block;
  position: absolute;
  visibility: hidden; }

@-ms-viewport {
  width: device-width; }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

pre {
  overflow: auto; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

.enable-scroll {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

.disable-scroll {
  overflow: hidden; }

.container {
  width: auto;
  margin: auto; }

@media only screen and (min-width: 576px) {
  .container {
    width: 540px; } }

@media only screen and (min-width: 768px) {
  .container {
    width: 720px; } }

@media only screen and (min-width: 992px) {
  .container {
    width: 960px; } }

@media only screen and (min-width: 1200px) {
  .container {
    width: 1140px; } }

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; }

.btn-primary {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff; }

.btn-primary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff; }

.btn-secondary {
  color: #6c757d;
  background-color: transparent;
  background-image: none;
  border-color: #6c757d; }

.btn-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d; }

a:hover.btn {
  text-decoration: none; }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fade-in {
  -webkit-animation: 0.25s ease 0s normal forwards 1 fadein;
          animation: 0.25s ease 0s normal forwards 1 fadein; }

.drop-shadow {
  box-shadow: 0px 0px 1rem 2px #c9c9c9; }

.example {
  display: flex;
  flex-direction: column;
  margin-top: 2.0rem; }

.example-group {
  margin-bottom: 4.0rem; }

@media only screen and (min-width: 992px) {
  .example {
    flex-direction: row; } }

.example-description {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left; }

@media only screen and (min-width: 992px) {
  .example-description {
    flex: 1 0 49%;
    text-align: right;
    justify-content: flex-end; } }

.example-fragment {
  flex: 1; }
  .example-fragment.example-fragment-code {
    flex: 1 1 auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #f8f9fa;
    padding-left: 1rem;
    padding-right: 1rem; }

.example-fragment-desc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: center; }
  .example-fragment-desc span.icon-spacer {
    flex: 1; }
  .example-fragment-desc p {
    flex-basis: 100%;
    align-self: flex-end; }
  .example-fragment-desc a {
    margin-bottom: 8px; }
    .example-fragment-desc a span.icon-link {
      visibility: hidden;
      align-self: flex-end;
      padding-left: .5rem;
      padding-right: .5rem;
      color: rgba(0, 123, 255, 0.5);
      transition: color 0.16s linear; }
  .example-fragment-desc:hover span.icon-link {
    text-decoration: none;
    visibility: visible;
    color: rgba(0, 123, 255, 0.5); }
  .example-fragment-desc a:hover > span:hover {
    color: #007bff; }
  @media only screen and (min-width: 992px) {
    .example-fragment-desc {
      flex-direction: row; } }

@media only screen and (min-width: 992px) {
  .example-fragment.example-fragment-desc {
    margin-right: 3rem; } }

.example-code {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

@media only screen and (min-width: 768px) {
  .example-code {
    flex: 1 0 49%;
    overflow: auto;
    -webkit-overflow-scrolling: touch; } }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 64px;
  padding-left: 16px;
  padding-right: 16px; }

@media (min-width: 576px) {
  .navbar {
    padding-left: 0px;
    padding-right: 0px; } }

.header-shadow {
  width: 100%;
  height: 100%; }

.navbar-spacer {
  min-height: 64px; }

.navbar-mobile {
  position: relative;
  z-index: 1;
  display: none;
  background-color: white; }
  .navbar-mobile .navbar-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white; }
    .navbar-mobile .navbar-nav .nav-item {
      flex: 1 0 49%; }

.navbar-brand {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap; }
  .navbar-brand a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9); }
  .navbar-brand a:hover {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none; }

.navbar-nav-shown {
  display: flex; }

.navbar-nav {
  flex: 1;
  display: none;
  justify-content: flex-end;
  align-items: center;
  list-style: none; }
  .navbar-nav .nav-item a {
    color: rgba(0, 0, 0, 0.5); }
  .navbar-nav .nav-item a:hover {
    text-decoration: none; }
  .navbar-nav .nav-item.active a {
    color: rgba(0, 0, 0, 0.9); }
  .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem; }

#navbar-menu {
  cursor: pointer; }

.navbar-menu {
  flex: 1;
  display: flex;
  justify-content: flex-end; }
  .navbar-menu span {
    font-size: 2.0rem; }
  .navbar-menu, .navbar-menu:hover {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none; }

.navbar-menu-active, .navbar-menu-active:hover {
  color: rgba(0, 0, 0, 0.9); }

@media (min-width: 768px) {
  .navbar-nav {
    display: flex;
    flex-direction: row; }
  .navbar-menu {
    display: none; }
  .navbar-mobile {
    display: none !important; }
  .header-shadow {
    box-shadow: none !important; } }

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; }

.grid-item {
  flex: 1 0 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 100%; }

@media only screen and (min-width: 768px) {
  .grid-item {
    flex: 1 0 49%;
    max-width: 320px; } }

@media only screen and (min-width: 992px) {
  .grid-item {
    flex: 1 0 32%;
    max-width: 300px; } }

.grid-item-gap {
  display: flex;
  background-color: green;
  min-width: 1rem; }

.grid-item-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem; }

.jumbo {
  margin-bottom: 3.5rem; }
  .jumbo > h1 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2; }

.desc {
  font-size: 1.25rem;
  font-weight: 300; }

@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url(css/fonts/fontello.eot);
  src: url(css/fonts/fontello.eot#iefix) format("embedded-opentype"), url(css/fonts/fontello.woff2) format("woff2"), url(css/fonts/fontello.woff) format("woff"), url(css/fonts/fontello.ttf) format("truetype"), url(css/fonts/fontello.svg#fontello) format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?30947853#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-home:before {
  content: '\E801'; }

/* '' */
.icon-link:before {
  content: '\E802'; }

/* '' */
.icon-menu:before {
  content: '\F0C9'; }

/* '' */

pre,
code {
  /* From https://github.com/isagalaev/highlight.js/blob/9.8.0/src/styles/tomorrow.css */
  /* http://jmblog.github.io/color-themes-for-highlightjs */
  /* Tomorrow Comment */
  /* Tomorrow Red */
  /* Tomorrow Orange */
  /* Tomorrow Yellow */
  /* Tomorrow Green */
  /* Tomorrow Blue */
  /* Tomorrow Purple */ }

pre .hljs-comment,
code .hljs-comment,
pre .hljs-quote,
code .hljs-quote {
  color: #8e908c; }

pre .hljs-variable,
code .hljs-variable,
pre .hljs-template-variable,
code .hljs-template-variable,
pre .hljs-tag,
code .hljs-tag,
pre .hljs-name,
code .hljs-name,
pre .hljs-selector-id,
code .hljs-selector-id,
pre .hljs-selector-class,
code .hljs-selector-class,
pre .hljs-regexp,
code .hljs-regexp,
pre .hljs-deletion,
code .hljs-deletion {
  color: #c82829; }

pre .hljs-number,
code .hljs-number,
pre .hljs-built_in,
code .hljs-built_in,
pre .hljs-builtin-name,
code .hljs-builtin-name,
pre .hljs-literal,
code .hljs-literal,
pre .hljs-type,
code .hljs-type,
pre .hljs-params,
code .hljs-params,
pre .hljs-meta,
code .hljs-meta,
pre .hljs-link,
code .hljs-link {
  color: #f5871f; }

pre .hljs-attribute,
code .hljs-attribute {
  color: #eab700; }

pre .hljs-string,
code .hljs-string,
pre .hljs-symbol,
code .hljs-symbol,
pre .hljs-bullet,
code .hljs-bullet,
pre .hljs-addition,
code .hljs-addition {
  color: #718c00; }

pre .hljs-title,
code .hljs-title,
pre .hljs-section,
code .hljs-section {
  color: #4271ae; }

pre .hljs-keyword,
code .hljs-keyword,
pre .hljs-selector-tag,
code .hljs-selector-tag {
  color: #8959a8; }

pre .hljs,
code .hljs {
  display: block;
  overflow-x: auto;
  background: white;
  color: #4d4d4c;
  padding: 0.5em; }

pre .hljs-emphasis,
code .hljs-emphasis {
  font-style: italic; }

pre .hljs-strong,
code .hljs-strong {
  font-weight: bold; }

